.hero {
	display: flex;
	justify-content: space-between;
}

.title {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.title h1 {
	font-size: 3.75rem;
	font-family: "Oswald", sans-serif;
	color: #bf1e2e;
}

.heroimage {
	padding: 3.5rem;
	width: 100%;
}

.buttons {
	display: flex;
	gap: 20px;
	align-items: flex-end;
}