form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  width: 200px;
  padding: 32px;
  margin: auto;
}

label,
input,
select,
textarea,
p {
  display: block;
  margin-bottom: 8px;
  margin-right: 8px;
  font-weight: bold;
}

.radio1,
.radio2 {
  display: flex;
  flex-direction: row;
}
