.input {
  font-size: 16px;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  border: 1px solid #cccccc;
  background-image: url("../img/search.png");
  background-repeat: no-repeat;
  background-position: right 5% bottom 50%;
  background-size: 27px;
}
